<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.select :category, Article::CATEGORY %>
  </p>

  <p>
    <div id="toolbar-container"></div>
    <div id="editor">
        <textarea>placeholder</textarea>
    </div>
    <%= form.hidden_field :text, id: "articletext" %>
  </p>


  <p>
    <%= form.submit :submit, id: "submit" %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>

<head>
  <meta charset="utf-8">
  <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/decoupled-document/ckeditor.js"></script>
</head>

<body>
    <!-- The toolbar will be rendered in this container. -->


    <!-- This container will become the editable. -->


    <script>
        let editorz;

        DecoupledEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
              const toolbarContainer = document.querySelector( '#toolbar-container' );

              toolbarContainer.appendChild( editor.ui.view.toolbar.element );
              editorz = editor
            } )
            .catch( error => {
              console.error( error );
            } );
            // https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/saving-data.html
            document.querySelector( '#submit' ).addEventListener( 'click', () => {
                const editorData = editorz.getData();
                document.getElementById("articletext").value = editorData
            } );
    </script>
</body>
